{% extends 'store/layout.html' %}
{% load static %}
{% block body %}
  <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcom to Scarrow shop</p>
                </div>
            </div>
  </header>

  <div class="container">
    <div class="row">
      <center>
        <div class="col-8">
          <br/><br/>
          <p align='justify'>
Welcome to ShopEase, your one-stop destination for all your shopping needs. Founded in 2020, ShopEase has rapidly grown to become a leader in the online retail space, offering an extensive range of products across various categories, including electronics, fashion, home appliances, beauty products, and more.
<br/><br/>
**Our Mission At ShopEase**<br/>
Our mission is to provide our customers with a seamless and enjoyable shopping experience. We are committed to offering the best prices, a wide selection of products, and exceptional customer service.
<br/><br/>
**Our Values**<br/>
1. Customer Satisfaction: We prioritize the needs and satisfaction of our customers above all else.<br/>
2. Quality Assurance: We ensure that all our products meet the highest standards of quality and reliability.<br/>
3. Innovation: We continuously innovate to improve our services and enhance the shopping experience.<br/>
4. Integrity: We conduct our business with honesty and transparency, building trust with our customers and partners.<br/>
<br/><br/>
**Why Shop with Us?**<br/>
- Extensive Product Range: With thousands of products from top brands, you’re sure to find exactly what you’re looking for.
- Competitive Prices: We offer competitive pricing and regular promotions to ensure you get the best deals.
- Fast & Reliable Shipping: We provide fast and reliable shipping options to ensure your orders reach you on time.
- Secure Shopping: Your security is our priority. We use advanced encryption technologies to keep your information safe.
- Excellent Customer Service: Our dedicated customer service team is always ready to assist you with any queries or concerns.
<br/><br/>
**Join Our Community**<br/>
Be a part of our growing community of satisfied customers. Follow us on social media to stay updated with the latest products, offers, and more. 
<br/><br/>
Thank you for choosing ShopEase. We look forward to serving you!
          </p>
        </div>
      </center>
    </div>
  </div>
{% endblock %}